.categories {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 15px;
  border: 1px solid chocolate;
  padding: 10px;
  border-radius: 10px;
}
.category-image {
  border-radius: 10px;
  margin-bottom: 10px;
}

.category_title {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: chocolate;
  font-weight: 700;
}
