.model {
  position: absolute;
  top: 13%;
  left: 30%;
  width: 27%;
  z-index: 99;
  background-color: chocolate;
  border-radius: 10px;
  color: #fff;
  height: 80vh;
}
@media screen and (max-width: 600px) {
  .model {
    position: absolute;
    top: 70%;
    left: 10%;
    width: 70%;
  }
}

.address-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.address-form input {
  margin-bottom: 20px;
  border: none;
  outline: none;
  padding: 2px 10px;
  border-radius: 10px;
}

.address-form input::placeholder {
  color: chocolate;
  font-size: 14px;
}
.shipping {
  margin: 10px;
  text-align: center;
}
.pay-btn {
  background-color: white;
  color: chocolate;
  border: none;
  width: 30%;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
}
